<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

    <title>댓글을 남겨보자</title>

    <style>
        * {
            font-family: 'Gowun Batang', serif;
            color: white;
        }

        body {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('https://miro.medium.com/max/1200/1*6fZvk-nXvwgfieisFZ_uJA.png');
            background-position: center;
            background-size: cover;
        }

        h1 {
            font-weight: bold;
        }

        .comment {
            width: 500px;
            margin: 60px auto 0px auto;
            padding-bottom: 60px;
            text-align: center;
        }

        .mybtn {
            width: 100%;
        }

        .comment > table {
            margin: 40px 0;
            font-size: 18px;
        }

        option {
            color: black;
        }
    </style>
    <script>
        $(document).ready(function () {
            show_comment();
            // save_comment();
        });

        function show_comment() {

            $.ajax({
                type: 'GET',
                url: '/comment',
                data: {},
                success: function (response) {
                    let doc = JSON.parse(response)
                    console.log(doc)
                    // console.log(response)
                    for (let i = 0; i < doc.length; i++) {
                        let comment_id = doc[i][0]
                        let user_id = doc[i][2]
                        let comment_title = doc[i][1]
                        let comment_content = doc[i][3]
                        let star = doc[i][4]
                        let star_image = "*".repeat(star)

                        let temp_html = `<tr>
                                            <td>${user_id}</td>
                                            <td>${comment_title}</td>
                                            <td>${comment_content}</td>
                                            <td>${star_image}</td>
                                            <td><button id="update_button" onclick="location.href = '/edit/${comment_id}'; update_comment(${comment_title},${comment_content},${star})" type="button" class="btn btn-warning mybtn" style="width:60px">수정</button>
                                            <button id="delete_button" onclick="delete_comment(${comment_id})" type="button" class="btn btn-warning mybtn" style="width:60px">삭제</button></td>
                                        </tr>`
                        $("#comment_box").append(temp_html)
                    }
                }

            });
        }

        function save_comment() {
            let user_id = $("#user_id").val()
            let comment_title = $("#comment_title").val()
            let comment_content = $("#comment_content").val()
            let star = $(`#star`).val()
            let star_image = "*".repeat(star)
            let user_unique_id = $(`#user_unique_id`).val()
            let problem_id = $(`#problem_id`).val()
            let review_id = $(`#review_id`).val()

            console.log(comment_title, comment_content)

            $.ajax({
                type: 'POST',
                url: '/comment',
                // dataType : "json",
                // data : JSON.stringify({comment_title: comment_title, comment_content: comment_content,star: star}),
                // success:function(response){
                //     alert(response['msg'])
                //     window.location.reload()
                data: {user_id:user_id, comment_title: comment_title,comment_content: comment_content,star: star,
                    user_unique_id:user_unique_id, problem_id: problem_id, review_id: review_id},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }


        function delete_comment(comment_id) {
            let id = comment_id

            $.ajax({
                type: 'DELETE',
                url: '/comment',
                data: {'comment_id': id},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }
    </script>
</head>
<body>
<div class="mask"></div>
<div class="comment">
    <h1>문제풀이에 대한 댓글</h1>
    <p>
        문제 ${problem_id}번 > 풀이 ${review_id}번<br/>
    </p>

    <div class="comment-info">
        <div class="input-group mb-3">
            <span class="input-group-text">제목</span>
            <input id="comment_title" type="text" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">내용</span>
            <input id="comment_content" type="text" class="form-control" style="height: 150px">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="star">별점</label>
            <select class="form-select" id="star">
                <option selected>-- 내가 느낀 이 풀이의 별점 --</option>
                <option value="1">⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
        </div>
        <button onclick="save_comment()" type="button" class="btn btn-warning mybtn">댓글 달기</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">아이디</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">별점</th>
            <th scope="col">수정 및 삭제</th>

        </tr>
        </thead>
        <tbody id="comment_box">
        </tbody>

    </table>

</div>
</body>
</html>
